<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0,width=device-width" />
<link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css" type="text/css" />
</head>
<style>
	.wrapper{
		padding: 15px;
		max-width: 800px; 
	}
	.base-info{
		background-color: #DFF0D8
	}
	.clear{
		clear: both;
	}
	.common-buttom{
		padding-left: 20px;
		padding-top: 10px;
	}
</style>
<body>
<div class="wrapper">
	<div class="base-info">
		<form>
			<div class="form-group">
				<label for="content">描述：</label>
				<input type="text" class="form-control" id="content" placeholder="英语四级证书">
			</div>
			<div class="clear"></div>
			<div class="common-buttom" >
				<button id="saveBtn" class="btn btn-success">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button id="cancelBtn" class="btn btn-info">取消</button>
			</div>
		</form>
		<br />
	</div>
	<div class="clear"></div>
</body>
<script src="js/jquery-3.3.1.min.js" type="application/javascript"></script>
<script src="bootstrap-3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
<script src="js/upImage.js" type="application/javascript"></script>
<script src="layer/layer.js"></script>
<script src="js/common.js"></script>
<script type="application/javascript">
	$('#saveBtn').click(function(){
		event.stopPropagation();
		event.preventDefault();
		$.ajax({
			url:'/credential',
			dataType:'json',
			type:'post',
			data:{
				id:$('id').val(),
				content:$('content').text()
			},
			success:function(data){
				if(postComplete(data)){
					layer.confirm('添加成功,是否继续添加?', {
						btn: ['是','否'] //按钮
						},function(){
							window.location.reload();
						},function(){
							parent.location.reload();
						}
					);
						
					
				}
			},
			error:function(){
				postFaild('保存失败');
			}
		});
	});
	$('#cancelBtn').click(function(){
		window.parent.closeIframe();
	});
</script>

</html>