<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0,width=device-width" />
	<link rel="stylesheet" th:href="|/bootstrap-3.3.7/css/bootstrap.min.css|" href="bootstrap-3.3.7/css/bootstrap.min.css" type="text/css" />
</head>
<style>
	.form-group{
		margin-top: 10px;
	}
	.wrapper{
		padding: 5px;
		max-width: 400px; 
	}
	.base-l{
		width: 70%;
		float: left;
	}
	.base-r{
		width: 30%;
		float: left;
	}
	.clear{
		clear: both;
	}
	.common-buttom{
		padding-left: 20px;
		padding-top: 10px;
	}
</style>
<body>
<div class="wrapper">
	<div class="base-info">
		<form>
			<input type="hidden" id="id" value="" th:value="${skill?.name}" />
			<div class="base-l">
				<div style="margin-left: 5px;">
					<div class="form-group">
						<label for="name">技能名称：</label>
						<input type="text" class="form-control" id="name" placeholder="JAVA" th:value="${skill?.name}" />
					</div>
				</div>
			</div>
			<div class="base-r">
				<div style="margin-left: 5px;">
					<div class="form-group">
						<label for="experience">熟练度：</label>
						<input type="text" class="form-control" id="experience" placeholder="1-10" th:value="${skill?.experience}" />
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="common-buttom" >
				<button id="saveBtn" class="btn btn-success">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button id="cancelBtn" class="btn btn-info">取消</button>
			</div>
		</form>
		<br />
	</div>
</body>
<script th:src="|/js/jquery-3.3.1.min.js|" src="js/jquery-3.3.1.min.js" type="application/javascript"></script>
<script th:src="|/bootstrap-3.3.7/js/bootstrap.min.js|" src="bootstrap-3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
<script th:src="|/layer/layer.js|" src="layer/layer.js"></script>
<script th:src="|/js/common.js|" src="js/common.js"></script>
<script type="application/javascript">
	$('#saveBtn').click(function(){
		event.stopPropagation();
		event.preventDefault();
		$.ajax({
			url:'/skill',
			dataType:'json',
			type:'post',
			data:{
				id:$('#id').val(),
				name:$('#name').val(),
				experience:$('#experience').val()
			},
			success:function(data){
				if(ajaxComplete(data)){
					if($('id').val() === ''){
						layer.confirm('添加成功,是否继续添加?', {
							btn: ['是','否'] //按钮
							},function(){
								window.location.reload();
							},function(){
								parent.location.reload();
							}
						);
					}else{
						layer.msg('保存成功,即将关闭', {
							time: 1000,
							icon: 1,
							end: function(){
								parent.location.reload();
							}
						});
					}
					
				}
			},
			error:function(){
                ajaxFaild('保存失败');
			}
		});
	});
	$('#cancelBtn').click(function(){
		window.parent.closeIframe();
	});
</script>

</html>